<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD-QbUTBJ0b12iGOXehkoWcPDDXv35Wm_g</string>
	<key>GCM_SENDER_ID</key>
	<string>290987760954</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectshoe</string>
	<key>PROJECT_ID</key>
	<string>fluttershoestore</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttershoestore.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:290987760954:ios:b0f92aa2ab00ec64cb8403</string>
</dict>
</plist>